---
{{- include "bjw-s.common.loader.init" . }}

{{- define "home-assistant.hardcodedValues" -}}
{{- $img := (dig "controllers" "main" "containers" "main" "image" dict .Values) -}}
{{- $tag := (dig "tag" "" $img) -}}
{{- $digest := (dig "digest" "" $img) -}}

# Set the nameOverride based on the release name if no override has been set
{{- if not .Values.global.nameOverride }}
global:
  nameOverride: "{{ .Release.Name }}"
{{- end }}

# Default the image tag to the chart appVersion if neither tag nor digest is set
{{- if and (empty $tag) (empty $digest) }}
controllers:
  main:
    containers:
      main:
        image:
          tag: "{{ .Chart.AppVersion }}"
{{- end }}
{{- end -}}
{{- $_ := mergeOverwrite .Values (include "home-assistant.hardcodedValues" . | fromYaml) -}}

{{/* Render the templates */}}
{{ include "bjw-s.common.loader.generate" . }}
