---
name: Renovate

on:
  schedule:
    - cron: "0 * * * *"
  workflow_dispatch: {}

jobs:
  renovate:
    runs-on: ubuntu-latest

    permissions:
      contents: write
      pull-requests: write
      issues: write

    steps:
      - name: Run Renovate
        uses: docker://renovate/renovate:latest
        env:
          RENOVATE_PLATFORM: github
          GITHUB_TOKEN: ${{ github.token }}
          RENOVATE_TOKEN: ${{ github.token }}
          RENOVATE_REPOSITORIES: ${{ github.repository }}
          RENOVATE_ALLOWED_COMMANDS: '.*'
